.sidebar-container {
    
    top: 0;
    left: 0;
    /* height: 100vh; */
    width: 250px;
    transform: translateX(-100%); 
    transition: transform 0.3s ease; 
    z-index: 1000; 
}

.sidebar-container.open {
    transform: translateX(0); 
}

.menu-item{
    text-align: left;
}