@font-face {
  font-family: 'default';
  src: local('MyFont'), url(./assets/fonts/magalu-textos-regular.woff2) format('woff');
}

@font-face {
  font-family: 'defaultBold';
  src: local('MyFont'), url(./assets/fonts/magalu-textos-regular.woff2) format('woff');
}

.App {
  height: 100vh;
  width: 100vw;
  font-family: 'default';
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dbdbdb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.central-content {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.header h1 {
  margin-bottom: 0;
}

.header p {
  margin-top: 10px;
  font-size: 20px;
}

.fields {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
  margin-top: 20px;
}
